.inner-container {
    width: 80%;
}

.w-40 {
    width: 40%;
}

.custum-bg-green {
    background-color: #4caf4f;
}

.custum-green {
    color: #4caf4f;
}

/* Menu hover effect */
.nav-item {
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
  }

  .nav-item::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: #4caf4f;
    transition: width 0.3s ease-in-out;
  }

  .nav-item:hover::after {
    width: 100%;
  }

  /* Horizontal scroll */


/* Card hover effect */
.card-div {
    transition: all .3s;
}

.card-div:hover {
    transform: scale(1.1);
    cursor: pointer;
}

